streamlit
langchain
langchain_community
langchain_openai
langchain_core
google-auth-oauthlib
google-auth
google-auth-httplib2
google-api-python-client
PyPDF2
pytz
dateparser
python-dotenv
faiss-cpu
sqlite3
